@media screen and (max-width: 800px){
    .title-title{
        height: 200px;
    }
    header .logo a{
        font-size: 2rem;
    }
}
@media screen and (max-width: 1200px){
    .stat aside{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .stat article{
        width: 100%;
    }
}